---
import Head from "../components/Head.astro";
---
<html>
    <head>
        <Head enableMath enableHighlight/>
        <title>登录 - Songlll</title>
    </head>
    <body>
        <h1>待开发</h1>
        <h1>登录页面</h1>
        <form action="" id="loginForm" method="POST">
            <label for="username">用户名:</label>
            <input type="text" id="username" name="username" required />
            <br />
            <label for="password">密码:</label>
            <input type="password" id="password" name="password" required />
            <br />
            <button type="submit">登录</button>
        </form>
        <script>
            </script>
    </body>
</html>